#root {
background-color: #CBDAFB;
  margin: 0 auto;
 
}

.landing{
  background-color: #CBDAFB;
}

.point::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 8px;
  transition: background-color 0.3s;
}
