@import url('https://api.fontshare.com/v2/css?f[]=satoshi@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{

  @apply 
bg-[#D73F91] rounded-md hover:bg-white hover:text-black transition-all  text-white text-[12px] lg:text-[16px] px-[36px] py-[10px];
}

.btn2{

  @apply 
 border-2 border-white rounded-md hover:bg-white hover:text-black transition-all text-white text-[12px] lg:text-[16px] px-[36px] py-[10px];
}


.histogram{

  @apply lg:w-auto md:w-[109px] w-[70px] flex-wrap lg:px-4 px-2 rounded-t-[16px];

}

.histogram-text{

  @apply text-center py-2  text-white font-bold lg:text-[42px];

}

.histogram-text2{

  @apply text-[#333333] font-semibold lg:w-[130px]  lg:text-[20px] text-center py-3 text-[9px];
}

.isolation{

  @apply lg:w-[80%] lg:text-[18px] text-[13px] flex bg-[#C1B8F6] p-3 gap-3 items-center rounded-[13px];
}

.span{

  @apply font-bold;
}

.inter{
  font-family: 'Satoshi', sans-serif;
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}